body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  background-image: url("../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 375px 300px;
  background-position: top;
  background-color: #fafafa;
}
@media only screen and (min-device-width: 1440px) {
  body {
    background-image: url("../images/image-hero-desktop.jpg");
    background-size: 1440px 400px;
  }
}
body .section {
  width: 375px;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section {
    width: 1440px;
  }
}
body .section .background-top {
  width: 100%;
  height: 128px;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top {
    opacity: 0.6;
  }
}
body .section .background-top .header {
  width: 327px;
  margin: 0 auto;
  padding-top: 32px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header {
    width: 1440px;
    padding-top: 48px;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header .logo {
    margin-left: 166px;
  }
}
body .section .background-top .header .icon-hamburger {
  float: right;
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header .icon-hamburger {
    display: none !important;
  }
}
body .section .background-top .header .options {
  display: none;
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header .options {
    display: inline-block;
    margin: 2px 165px 0 0;
    width: 225px;
    height: 16px;
    float: right;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header .options .options-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
  }
  body .section .background-top .header .options .options-text:hover, body .section .background-top .header .options .options-text:active {
    cursor: pointer;
    text-decoration: underline;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .background-top .header .options .text-medium {
    padding-right: 33px;
    padding-left: 32px;
  }
}
body .section .all-content {
  width: 327px;
  margin: 60px auto 0 auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content {
    width: 730px;
    margin: 152px auto 0 auto;
  }
}
body .section .all-content .container-top-logo {
  width: 327px;
  height: 56px;
  text-align: center;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top-logo {
    width: 730px;
  }
}
body .section .all-content .container-top-logo .logo-mastercraft {
  position: relative;
  top: 28px;
}
body .section .all-content .container-top {
  width: 327px;
  height: 284px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 52px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top {
    width: 730px;
    height: 269px;
    padding-top: 56px;
  }
}
body .section .all-content .container-top .heading-container {
  width: 279px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .heading-container {
    width: 453px;
  }
}
body .section .all-content .container-top .heading-container .heading {
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .heading-container .heading {
    padding: 0;
    font-size: 28px;
    line-height: 34px;
  }
}
body .section .all-content .container-top .container-top-bottom {
  width: 280px;
  margin: 24px auto 40px auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom {
    width: 634px;
    margin: 40px auto 48px auto;
  }
}
body .section .all-content .container-top .container-top-bottom .button-back {
  width: 214px;
  height: 56px;
  background: #3cb3ab;
  border-radius: 33.5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  border: 0;
  margin-right: 6px;
  position: relative;
  top: -45px;
}
body .section .all-content .container-top .container-top-bottom .button-back:hover, body .section .all-content .container-top .container-top-bottom .button-back:active {
  background-color: #147a73;
  cursor: pointer;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .button-back {
    width: 204px;
    margin-right: 0;
    top: -22px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmark {
  width: 56px;
  display: inline-block;
}
body .section .all-content .container-top .container-top-bottom .bookmark:hover, body .section .all-content .container-top .container-top-bottom .bookmark:active {
  cursor: pointer;
}
body .section .all-content .container-top .container-top-bottom .bookmark:hover .bookmark-image, body .section .all-content .container-top .container-top-bottom .bookmark:active .bookmark-image {
  filter: invert(46%) sepia(0%) saturate(1%) hue-rotate(96deg) brightness(94%) contrast(89%);
}
body .section .all-content .container-top .container-top-bottom .bookmark:hover .bookmark-icon, body .section .all-content .container-top .container-top-bottom .bookmark:active .bookmark-icon {
  filter: invert(76%) sepia(6%) saturate(25%) hue-rotate(315deg) brightness(91%) contrast(94%) !important;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmark {
    width: 174px;
    height: 56px;
    margin-left: 252px;
    background-color: rgba(0, 0, 0, 0.05);
    mix-blend-mode: normal;
    border-radius: 33.5px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmark .bookmark-icon {
  width: 20px;
  height: 20px;
  filter: invert(76%) sepia(6%) saturate(25%) hue-rotate(315deg) brightness(91%) contrast(94%);
  position: relative;
  left: 18px;
  top: -41px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmark .bookmark-icon {
    top: -18px;
    left: -41px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmark .bookmark-text {
  display: none;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmark .bookmark-text {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #7a7a7a;
    position: relative;
    bottom: 23px;
    left: -10px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmarked {
  width: 56px;
  display: none;
}
body .section .all-content .container-top .container-top-bottom .bookmarked .bookmarked-image {
  filter: invert(36%) sepia(83%) saturate(422%) hue-rotate(127deg) brightness(91%) contrast(91%);
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmarked {
    width: 190px;
    height: 56px;
    margin-left: 236px;
    background-color: rgba(20, 122, 115, 0.05);
    mix-blend-mode: normal;
    border-radius: 33.5px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmarked .bookmark-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  position: relative;
  left: 18px;
  top: -41px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmarked .bookmark-icon {
    top: -18px;
    left: -41px;
  }
}
body .section .all-content .container-top .container-top-bottom .bookmarked .bookmarked-text {
  display: none;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-top .container-top-bottom .bookmarked .bookmarked-text {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #147a73;
    position: relative;
    bottom: 23px;
    left: -10px;
  }
}
body .section .all-content .container-middle {
  width: 327px;
  height: 412px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 40px;
  text-align: center;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle {
    width: 730px;
    height: 212px;
    padding: 48px 48px 49px 48px;
    text-align: left;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .middle-inner {
    width: 137px;
    height: 66px;
    display: inline-block;
  }
}
body .section .all-content .container-middle .middle-inner .data {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 9px;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .middle-inner .data {
    padding-top: 1px;
    padding-bottom: 8px;
  }
}
body .section .all-content .container-middle .middle-inner .data-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
  padding-bottom: 24px;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .middle-inner .data-text {
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 1px;
  }
}
body .section .all-content .container-middle .middle-inner .margin-right-4 {
  margin-right: 4px;
}
body .section .all-content .container-middle .line {
  width: 80px;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  opacity: 0.15;
  height: 1px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .line {
    display: inline-block;
    width: 1px;
    height: 63px;
    margin-right: 47px;
    margin-left: 42px;
    border: 0;
  }
}
body .section .all-content .container-middle .progress-bar {
  width: 279px;
  height: 12px;
  margin: 0 auto;
  margin-top: 8px;
  background-color: rgba(47, 47, 47, 0.05);
  mix-blend-mode: normal;
  border-radius: 33.5px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .progress-bar {
    width: 634px;
    margin-top: 37px;
  }
}
body .section .all-content .container-middle .progress-bar .progress-bar-inner {
  background-color: #3cb3ab;
  border-radius: 33.5px;
  width: 218px;
  height: 12px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-middle .progress-bar .progress-bar-inner {
    width: 496px;
  }
}
body .section .all-content .container-bottom {
  width: 327px;
  margin-top: 24px;
  margin-bottom: 76px;
  padding: 40px 24px 40px 24px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .all-content .container-bottom {
    width: 730px;
    margin-bottom: 124px;
    padding: 48px;
  }
}
body .section .all-content .container-bottom .unavailable-button {
  background-color: #2f2f2f;
  opacity: 0.5;
  cursor: auto;
}
body .section .all-content .mobile-menu {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 88px;
  width: 327px;
  position: absolute;
  top: 0;
  display: none;
}
body .section .all-content .mobile-menu .icon-close-menu {
  float: right;
  position: relative;
  top: -57px;
}
body .section .all-content .mobile-menu .menu-option {
  padding: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
body .section .all-content .mobile-menu .border-line {
  border-top: 1px solid rgba(47, 47, 47, 0.1);
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}
body .section .paragraph-text {
  width: 280px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #7a7a7a;
  padding-top: 16px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 1440px) {
  body .section .paragraph-text {
    width: 507px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 15px;
  }
}
body .section .unavailable {
  opacity: 0.5;
}
body .section .unavailable .h2-active:active, body .section .unavailable .h2-active:hover {
  color: #000000 !important;
  cursor: auto !important;
}
body .section .unavailable .select-button {
  display: none !important;
}
body .section .unavailable .unavailable-button {
  display: inline-block !important;
}
body .section .select-button {
  width: 157px;
  height: 48px;
  background-color: #3cb3ab;
  border-radius: 33.5px;
  margin-top: 24px;
  color: #ffffff;
  font-family: "Commissioner", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 0;
}
body .section .select-button:hover, body .section .select-button:active {
  background-color: #147a73;
  cursor: pointer;
}
body .section h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
body .section .text-description {
  width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 24px;
  color: #7a7a7a;
  text-align: left;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .text-description {
    width: 570px;
    font-size: 16px;
    line-height: 30px;
    padding-top: 35px;
  }
}
body .section .larger-width {
  width: 279px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .larger-width {
    width: 634px;
  }
}
body .section .card {
  width: 279px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 24px auto 0 auto;
  padding: 24px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .card {
    width: 634px;
    padding: 38px 32px 32px 32px;
  }
}
body .section .card h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .card h2 {
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
  }
}
body .section .card .subheading {
  padding-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3cb3ab;
  margin: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .card .subheading {
    float: right;
    font-size: 15px;
    line-height: 18px;
    padding-top: 2px;
  }
}
body .section .card .unavailable-button {
  display: none;
}
body .section .margin-top-35 {
  margin-top: 35px;
}
body .section .count {
  padding-top: 24px;
  margin: 0%;
}
@media only screen and (min-device-width: 1440px) {
  body .section .count {
    padding-top: 28px;
    display: inline-block;
    margin-right: 324px;
    width: 83px;
  }
}
body .section .count .count-number {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  padding-top: 1px;
}
body .section .count .count-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7a7a7a;
  padding-left: 8px;
  position: relative;
  top: -6px;
}
body .section .modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 375px;
  z-index: 100;
  position: absolute;
  top: 0;
  display: none;
  padding-bottom: 184px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal {
    width: 1440px;
  }
}
body .section .modal .modal-content {
  width: 327px;
  margin: 121px auto 0 auto;
  padding: 0 24px 31px 24px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content {
    width: 730px;
    margin: 184px auto 0 auto;
    padding: 0 48px 48.5px 48px;
  }
}
body .section .modal .modal-content .modal-header {
  width: 280px;
  height: 22px;
  margin-top: 32px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .modal-header {
    width: 634px;
    height: 29px;
    margin-top: 48.5px;
  }
}
body .section .modal .modal-content .modal-header .icon-close-modal {
  position: relative;
  top: -20px;
  margin-left: 265px;
}
body .section .modal .modal-content .modal-header .icon-close-modal:hover, body .section .modal .modal-content .modal-header .icon-close-modal:active {
  cursor: pointer;
  filter: invert(1) brightness(0);
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .modal-header .icon-close-modal {
    margin-left: 636px;
    top: -44px;
  }
}
body .section .modal .modal-content .card {
  padding: 24px 0 0 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card {
    padding: 33px 0 0 0;
  }
}
body .section .modal .modal-content .card .card-content {
  padding: 0 24px 32px 24px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content {
    padding: 0 28px 32px 28px;
  }
}
body .section .modal .modal-content .card .card-content .check-button {
  width: 24px;
  height: 24px;
  margin-top: 9px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 0 5.5px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content .check-button {
    margin-top: 2px;
  }
}
body .section .modal .modal-content .card .card-content .check-button .green-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3cb3ab;
  display: none;
}
body .section .modal .modal-content .card .card-content .button-position {
  position: relative;
  top: -8px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content .button-position {
    top: 0;
  }
}
body .section .modal .modal-content .card .card-content .modal-heading {
  display: inline-block;
  margin-left: 16px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content .modal-heading {
    margin-left: 24px;
    margin-top: 2px;
    position: relative;
    top: -10px;
  }
}
body .section .modal .modal-content .card .card-content .heading-position {
  position: relative;
  top: -4px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content .heading-position {
    top: -7px;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content h2 {
    font-size: 16px;
    line-height: 20px;
    padding-right: 16px;
  }
}
body .section .modal .modal-content .card .card-content .h2-active:hover, body .section .modal .modal-content .card .card-content .h2-active:active {
  cursor: pointer;
  color: #3cb3ab;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-content .count {
    position: relative;
    top: -125px;
    float: right;
    width: 61px;
    margin: 0;
  }
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .text-description {
    width: 530px;
    font-size: 15px;
    line-height: 28px;
    padding-top: 10px;
    padding-left: 48px;
  }
}
body .section .modal .modal-content .card .card-bottom {
  padding: 23.5px 24px 24px 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -7.5px;
  width: 231px;
  display: none;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-bottom {
    padding: 24px 28px 24px 28px;
    margin-top: 0;
    width: 578px;
  }
}
body .section .modal .modal-content .card .card-bottom .text-description {
  line-height: 28px;
  text-align: center;
  padding-top: 0;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-bottom .text-description {
    text-align: left;
    padding: 10px 0 0 0;
    margin: 0;
    display: inline-block;
    width: 120px;
  }
}
body .section .modal .modal-content .card .card-bottom .pledge-amount-box {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 33.5px;
  padding: 15px 0 16px 24px;
  width: 74px;
  font-size: 14px;
  line-height: 17px;
}
body .section .modal .modal-content .card .card-bottom .pledge-amount-box:hover, body .section .modal .modal-content .card .card-bottom .pledge-amount-box:active {
  border: 1px solid #3cb3ab;
  cursor: pointer;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-bottom .pledge-amount-box {
    margin-left: 231px;
  }
}
body .section .modal .modal-content .card .card-bottom .pledge-amount-box .currency {
  color: #000000;
  opacity: 0.25;
  font-weight: 700;
}
body .section .modal .modal-content .card .card-bottom .pledge-amount-box .pledge-amount {
  width: 35px;
  border: 0px;
  outline: none;
  margin-left: 5px;
  font-weight: 700;
}
body .section .modal .modal-content .card .card-bottom .pledge-amount-box .pledge-amount:hover, body .section .modal .modal-content .card .card-bottom .pledge-amount-box .pledge-amount:active {
  color: #3cb3ab;
}
body .section .modal .modal-content .card .card-bottom .select-button {
  width: 115px;
  margin-left: 10px;
  height: 48px;
}
body .section .modal .modal-content .card .card-bottom .select-button:hover, body .section .modal .modal-content .card .card-bottom .select-button:active {
  background-color: #147a73;
  cursor: pointer;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .modal-content .card .card-bottom .select-button {
    width: 107px;
    margin-left: 16px;
    position: relative;
    float: right;
    bottom: 22px;
  }
}
body .section .modal .modal-content .active {
  border: 2px solid #3cb3ab;
}
body .section .modal .modal-content .active .green-circle {
  display: block !important;
}
body .section .modal .modal-content .active .card-bottom {
  display: block;
}
body .section .modal .modal-content .font-size-18 {
  font-size: 18px;
  line-height: 22px;
}
body .section .modal .modal-content .count-text {
  top: -1px;
}
body .section .modal .message-box {
  width: 327px;
  margin: 143px auto 142px auto;
  padding: 32px 24px 40px 24px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  display: none;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .message-box {
    width: 540px;
    margin: 485px auto;
    padding: 48px 48px 48.5px 48px;
  }
}
body .section .modal .message-box h3 {
  margin-top: 24px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .message-box h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 47.5px;
  }
}
body .section .modal .message-box .paragraph-text {
  padding-top: 24px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .message-box .paragraph-text {
    padding-top: 16px;
    line-height: 30px;
    width: 444px;
  }
}
body .section .modal .message-box .select-button {
  width: 107px;
  height: 48px;
  margin-top: 31.5px;
}
@media only screen and (min-device-width: 1440px) {
  body .section .modal .message-box .select-button {
    margin-top: 32px;
  }
}
body .section .padding-top-33 {
  padding-top: 33px;
}
body .section .padding-top-16 {
  padding-top: 16px;
}

/*# sourceMappingURL=style.css.map */
